.mine-content {
  font-weight: 600;
  width: 40px;
  height: 40px;
  margin: .5px;
  border: 1px solid #eee;
  background: #fff;
}
.mine-content:hover {
  background: #eee;
  cursor: pointer;
}
.mine-active{
  background: #eee;;
}